.container {
    text-align: center;
    display: flex;
}

.form {
    margin-top: 100px;
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .idInput {
        width: 120px;
        height: 30px;
        font-size: 17px;
        padding-left: 5px;
    }

    .draw {
        width: 80px;
        height: 30px;
        margin-top: 10px;
    }
}

.chart {
    width: 85%;
    padding: 20px;

    .style {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
    }
}